.DS_Store
covid19_data_test*/
*.pyc
*checkpoint.ipynb
workflow/python/data/
*_gh.py
*~
__pycache__
.ipynb_checkpoints
query_
workflow/python/work/
workflow/python/screenshots/
workflow/python/images/
workflow/python/scratch/
*xlsx#
*_flymake.py
web_cache.db
*gcloud_001/
gcloud_install/
.coverage
*.log
Untitled*.ipynb
