
.DS_Store
covid19_data_test/*
covid19_data_test_003/*
covid19_data_test_02/*
*.pyc
*checkpoint.ipynb
workflow/python/data/*
*_gh.py
*~
__pycache__
.ipynb_checkpoints
*/query_
workflow/python/work/*
work/*
workflow/python/screenshots/*
workflow/python/images/*
workflow/python/scratch/*
*xlsx#
*.log
