<div class='c-dashboard-card__updated'>
    <span>Updated: </span>
    <span>07/16/2020</span>
</div>
<div class='row pb-2' id='total-cases-by-race-ethnicity'></div>
<h4 class='c-dashboard-card__title'></h4>

<div class='c-summary-metric__label c-summary-metric__label--lg'>
    <span>Total Positive Cases</span>
</div>
<div class='c-summary-metric__label-value-group'>
    <span class='c-summary-metric__value c-summary-metric__value--lg d-block'>13,000</span>
    <span class='c-summary-metric__rate'>138.0 per 10,000 people</span>
</div>

<div class='c-summary-metric__label c-summary-metric__label--lg'>
    <span>Total Deaths</span>
</div>
<div class='c-summary-metric__label-value-group'>
    <span class='c-summary-metric__value c-summary-metric__value--lg d-block'>500</span>
    <span class='c-summary-metric__rate'>4.0 per 10,000 people</span>
</div>

<div class='d-flex flex-column col-lg-6 pl-lg-0'>
    <h4 class='c-dashboard-card__title mb-4'>Total Cases by Race/Ethnicity &amp; County</h4>
    <div class='table-responsive mb-0'>
        <table class='table c-table'>
            <thead>
                <tr>
                    <th class='tiny-th border-top-0'>Race/Ethnicity</th>
                    <th class='active-cell border-top-0 text-right tiny-th'>
                        State of Delaware
                    </th>
                    <th class='text-right tiny-th border-top-0'>
                        <a href="/locations/county-new-castle">New Castle</a>
                    </th>
                    <th class='text-right tiny-th border-top-0'>
                        <a href="/locations/county-kent">Kent</a>
                    </th>
                    <th class='text-right tiny-th border-top-0'>
                        <a href="/locations/county-sussex">Sussex</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='font-weight-bold'>
                        <span class='d-flex align-items-center' style='white-space: nowrap'>
                            <span>
                                Non-Hispanic White
                            </span>
                        </span>
                    </td>
                    <td class='active-cell text-right'>
                        4,272
                        (33%)
                    </td>
                    <td class='text-right'>
                        1,911
                        (32%)
                    </td>
                    <td class='text-right'>
                        699
                        (37%)
                    </td>
                    <td class='text-right'>
                        1,621
                        (31%)
                    </td>
                </tr>
                <tr>
                    <td class='font-weight-bold'>
                        <span class='d-flex align-items-center' style='white-space: nowrap'>
                            <span>
                                Hispanic/Latino
                            </span>
                        </span>
                    </td>
                    <td class='active-cell text-right'>
                        3,506
                        (27%)
                    </td>
                    <td class='text-right'>
                        1,349
                        (23%)
                    </td>
                    <td class='text-right'>
                        235
                        (12%)
                    </td>
                    <td class='text-right'>
                        1,900
                        (37%)
                    </td>
                </tr>
                <tr>
                    <td class='font-weight-bold'>
                        <span class='d-flex align-items-center' style='white-space: nowrap'>
                            <span>
                                Non-Hispanic Black
                            </span>
                        </span>
                    </td>
                    <td class='active-cell text-right'>
                        3,000
                        (26%)
                    </td>
                    <td class='text-right'>
                        1,832
                        (31%)
                    </td>
                    <td class='text-right'>
                        672
                        (36%)
                    </td>
                    <td class='text-right'>
                        830
                        (16%)
                    </td>
                </tr>
                <tr>
                    <td class='font-weight-bold'>
                        <span class='d-flex align-items-center' style='white-space: nowrap'>
                            <span>
                                Another/Multiple
                            </span>
                        </span>
                    </td>
                    <td class='active-cell text-right'>
                        626
                        (5%)
                    </td>
                    <td class='text-right'>
                        256
                        (4%)
                    </td>
                    <td class='text-right'>
                        67
                        (4%)
                    </td>
                    <td class='text-right'>
                        298
                        (6%)
                    </td>
                </tr>
                <tr>
                    <td class='font-weight-bold'>
                        <span class='d-flex align-items-center' style='white-space: nowrap'>
                            <span>
                                Asian/Pacific Islander
                            </span>
                        </span>
                    </td>
                    <td class='active-cell text-right'>
                        188
                        (1%)
                    </td>
                    <td class='text-right'>
                        109
                        (2%)
                    </td>
                    <td class='text-right'>
                        35
                        (2%)
                    </td>
                    <td class='text-right'>
                        43
                        (1%)
                    </td>
                </tr>
                <tr>
                    <td class='font-weight-bold'>
                        <span class='d-flex align-items-center' style='white-space: nowrap'>
                            <span>
                                Unknown
                                <span class='c-tooltip-icon' data-html='true' data-toggle='tooltip'
                                    title='This number represents cases for which the person&#39;s race/ethnicity of residence was unavailable or reported as unknown. These data will change as new information becomes available.'>
                                    <i class="far fa-question-circle"></i>
                                    <span></span>
                                </span>

                            </span>
                        </span>
                    </td>
                    <td class='active-cell text-right'>
                        1,158
                        (9%)
                    </td>
                    <td class='text-right'>
                        478
                        (8%)
                    </td>
                    <td class='text-right'>
                        179
                        (9%)
                    </td>
                    <td class='text-right'>
                        479
                        (9%)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<h4 class='c-dashboard-card__title mb-4'>Total Deaths by Race/Ethnicity &amp; County</h4>
<div class='table-responsive mb-0'>
    <table class='table c-table'>
        <thead>
            <tr>
                <th class='tiny-th border-top-0'>Race/Ethnicity</th>
                <th class='active-cell border-top-0 text-right tiny-th'>
                    State of Delaware
                </th>
                <th class='text-right tiny-th border-top-0'>
                    <a href="/locations/county-new-castle">New Castle</a>
                </th>
                <th class='text-right tiny-th border-top-0'>
                    <a href="/locations/county-kent">Kent</a>
                </th>
                <th class='text-right tiny-th border-top-0'>
                    <a href="/locations/county-sussex">Sussex</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class='font-weight-bold'>
                    <span class='d-flex align-items-center' style='white-space: nowrap'>
                        <span>
                            Non-Hispanic White
                        </span>
                    </span>
                </td>
                <td class='active-cell text-right'>
                    325
                    (62%)
                </td>
                <td class='text-right'>
                    158
                    (63%)
                </td>
                <td class='text-right'>
                    55
                    (59%)
                </td>
                <td class='text-right'>
                    112
                    (63%)
                </td>
            </tr>
            <tr>
                <td class='font-weight-bold'>
                    <span class='d-flex align-items-center' style='white-space: nowrap'>
                        <span>
                            Non-Hispanic Black
                        </span>
                    </span>
                </td>
                <td class='active-cell text-right'>
                    100
                    (26%)
                </td>
                <td class='text-right'>
                    61
                    (24%)
                </td>
                <td class='text-right'>
                    34
                    (36%)
                </td>
                <td class='text-right'>
                    39
                    (22%)
                </td>
            </tr>
            <tr>
                <td class='font-weight-bold'>
                    <span class='d-flex align-items-center' style='white-space: nowrap'>
                        <span>
                            Hispanic/Latino
                        </span>
                    </span>
                </td>
                <td class='active-cell text-right'>
                    33
                    (6%)
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
            </tr>
            <tr>
                <td class='font-weight-bold'>
                    <span class='d-flex align-items-center' style='white-space: nowrap'>
                        <span>
                            Another/Multiple
                        </span>
                    </span>
                </td>
                <td class='active-cell text-right'>
                    6
                    (1%)
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
            </tr>
            <tr>
                <td class='font-weight-bold'>
                    <span class='d-flex align-items-center' style='white-space: nowrap'>
                        <span>
                            Asian/Pacific Islander
                        </span>
                    </span>
                </td>
                <td class='active-cell text-right'>
                    1
                    (0%)
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
            </tr>
            <tr>
                <td class='font-weight-bold'>
                    <span class='d-flex align-items-center' style='white-space: nowrap'>
                        <span>
                            Unknown
                            <span class='c-tooltip-icon' data-html='true' data-toggle='tooltip'
                                title='This number represents deaths for which the person&#39;s race/ethnicity of residence was unavailable or reported as unknown. These data will change as new information becomes available.'>
                                <i class="far fa-question-circle"></i>
                                <span></span>
                            </span>

                        </span>
                    </span>
                </td>
                <td class='active-cell text-right'>
                    22
                    (4%)
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
                <td class='text-right'>
                    <div class='far fa-eye-slash fa-md' data-toggle='tooltip'
                        title='In order to protect privacy, no values are reported when there are fewer than 11 cases.'>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>