<div class="markdown-card ember-view"></div>
<strong><span>Number of confirmed cases : </span></strong>75,000<br>
<strong><span>Number of confirmed deaths : </span></strong>3,000<br>
<strong>By Race and Ethnicity</strong>
<table class="topBlackBoxTable">
<tbody><tr><td>Race/Ethnicity</td><td>Cases</td><td>Deaths</td></tr>
<tr><td>African-American (NH) </td><td>20,000</td><td>(1,000)</td><td>49*</td></tr>
<tr><td>Asian (NH) </td><td>1,000</td><td>(100)</td><td>6*</td></tr>
<tr><td>White (NH) </td><td>15,000</td><td>(1,000)</td><td>68*</td></tr>
<tr><td>Hispanic </td><td>19,000</td><td>(300)</td><td>8*</td></tr>
<tr><td>Other (NH) </td><td>3,000</td><td>(30)</td><td></td></tr>
<tr><td>Data not available </td><td>12,000</td><td>(10)</td><td>1*</td></tr>
</tbody></table>